body, div.card {
    background-color: #202020 !important;
}

input[type="text"] {
    background-color: #2d2d2d;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;
    padding: 1px;
    border: 0px;

}

td.td_word {
    text-align: left;
    vertical-align: middle;
    height: 36px;
    width: 200px;
}

td.td_num {
    width: 36px;
    vertical-align: middle;
}